<div class="row">
  <div class="col-md-12">
    <h3 class="font-weight-bold">TKIT</h3>
  </div>
  <div class="col-md-2 text-center">
    <div class="card border-primary" style="max-width: 18rem;">
      <div class="card-header bg-primary"><h7 class="text-light font-weight-bold">SISWA</h7></div>
      <div class="card-body text-primary">
        <h3 class="card-title font-weight-bold">
          <font size="50"><%= @kindergarten_students_count.kindergarten_boys_student_count %></font> Org
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-2 text-center">
    <div class="card border-warning" style="max-width: 18rem;">
      <div class="card-header bg-warning"><h7 class="text-light font-weight-bold">SISWI</h7></div>
      <div class="card-body text-warning">
        <h3 class="card-title font-weight-bold">
          <font size="50"><%= @kindergarten_students_count.kindergarten_girls_student_count %></font> Org
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-2 text-center">
    <div class="card border-success" style="max-width: 18rem;">
      <div class="card-header bg-success"><h7 class="text-light font-weight-bold">TOTAL SISWA / I</h7></div>
      <div class="card-body text-success">
        <h3 class="card-title font-weight-bold">
          <font size="50"><%= @kindergarten_students_count.kindergarten_students_count %></font> Org
        </h3>
      </div>
    </div>
  </div>
</div>
